.header-container {
    display: flex;
    background-color: yellow;
    /* justify-content: space-between; */
    align-items: center;
    gap: 200px; /* Adjust the gap between the company name and the navigation links as needed */
}

.header-container > div:first-child {
    display: flex;
    flex-direction: column;
}

.header-container > div:last-child {
    display: flex;
    gap: 100px; /* Adjust the gap between navigation links as needed */
}

.header-container > div:last-child > a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1.2em;
}