<!-- 

  This HTML file defines the structure of the header component for the Goojin application.

  Structure:
  - A container div with the class "header-container" that holds the header content.
  - Inside the container, there are two main divs:
    1. The first div contains:
       - An h1 element displaying the title "Goojin".
       - A paragraph element with the text "Damstädter Spedition".
    2. The second div contains a series of anchor elements (links) with routerLink directives for navigation:
       - "Home" link navigates to the home page.
       - "Über uns" link navigates to the about us page.
       - "Leistungen" link navigates to the our services page.
       - "Kontakt" link navigates to the contact us page.
       - "Referenzen" link navigates to the references page.
-->
<div class="header-container">
    <div>
      <h1>Goojin</h1>
      <p>Transport- und Umzugsservice</p>
    </div>
  
    <div>
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/about-us" routerLinkActive="active">Über uns</a>
      <a routerLink="our-services" routerLinkActive="active">Leistungen</a>
      <a routerLink="contact-us" routerLinkActive="active">Kontakt</a>
      <a routerLink="/referenzen" routerLinkActive="active">Referenzen</a>
    </div>
  </div>