<div class="footer-container">
  <div>
    <h3>Kontakt</h3>
    <mat-list>
      <mat-list-item style="height: fit-content">
        <p><span class="material-icons"> home </span> Rheinstraße 40-42</p>
        <p>64283 Darmstadt</p>
        <p><span class="material-icons"> call </span>+49 152 12121881</p>
        <p>
          <span class="material-icons"> email </span> goojin22&#64;gmail.com
        </p>
      </mat-list-item>
    </mat-list>
  </div>
  <div>
    <h3>Öffnungszeiten</h3>
    <mat-list>
      <mat-list-item style="height: fit-content">
        <p>Montag - Freitag: 8:00 - 18:00</p>
        <p>Samstag: 8:00 - 14:00</p>
        <p>Sonntag: Geschlossen</p>
      </mat-list-item>
    </mat-list>
  </div>
  <div>
    <h3>Links</h3>
    <mat-list>
      <mat-list-item style="height: fit-content">
        <p><a routerLink="/home">Home</a></p>
        <p><a routerLink="/about-us">Über uns</a></p>
        <p><a routerLink="our-services">Leistungen</a></p>
        <p><a routerLink="contact-us">Kontakt</a></p>
        <p><a routerLink="/referenzen">Referenzen</a></p>
      </mat-list-item>
    </mat-list>
  </div>
  <div>
    <h3>Informationen</h3>
    <mat-list>
      <mat-list-item style="height: fit-content">
        <p><a routerLink="/impressum">Impressum</a></p>
        <p><a routerLink="/datenschutz">Datenschutz</a></p>
        <p><a routerLink="/agb">AGB</a></p>
      </mat-list-item>
    </mat-list>
  </div>
  <p class="powered-by">powered by Agnovate Software Systems</p>
</div>
