<div class="homepage-container">
  <div>
    <img src=" assets/homepage/moving company1.jpg" />
  </div>

  <div class="box-container">
    <div class="box">
      <h1>1</h1>
      <h3>INFORMATIONEN ZUM UMZUG MITTEILEN</h3>
      <P>Übermitteln Sie uns die nötigen Informationen für Ihren Umzug</P>
    </div>
    <div class="box">
      <h1>2</h1>
      <h3>KOSTENLOSES ANGEBOT ERHALTEN</h3>
      <p>
        Wir kalkulieren ein individuelles Angebot für Ihre Wünsche & Anforderungen!
      </p>
    </div>
    <div class="box">
        <h1>3</h1>
        <h3>ERWARTEN SIE IHR NUEUS ZUHAUSE</h3>
        <p>Sie haben nichts mehr zu tun als ihr neies Zuhause zu eerwarten!</p>
    </div>
    <div class="box">
        <h1>4</h1>
        <h3>STRESSFREIER & EINFACHER EINZUG</h3>
        <p>Unsere Personal sichern Ihnen einen stressfreien Einzug zu.</p>
    </div>
  </div>
</div>
<!-- src/assets/homepage/erda-estremera-sxNt9g77PE0-unsplash.jpg -->
