<div class="homepage-container">
  <div class="welcome-message">
    <div class="welcome-content">
      <h1>Willkommen bei Goojin Umzüge</h1>
      <p>
        Wir sind Ihr zuverlässiger Partner für stressfreie und professionelle
        Umzüge. Egal ob innerhalb Deutschlands oder Europas, wir sorgen dafür,
        dass Ihr Umzug reibungslos verläuft. Vertrauen Sie auf unsere Erfahrung
        und Kompetenz!
      </p>
    </div>
  </div>

  <!-- <div class="image-container">
    <img src="assets/homepage/moving company1.jpg" alt="Moving Company" />
  </div> -->

  <div class="wrapper-container">
    <div class="box-container">
      <div class="box">
        <h1>1</h1>
        <h3>INFORMATIONEN ZUM UMZUG MITTEILEN</h3>
        <p>
          Übermitteln Sie uns die nötigen Informationen für Ihren Umzug.
          <a routerLink="/contact-us">
            <button mat-raised-button class="contact">
              Kontakt aufnehmen
            </button></a
          >
        </p>
      </div>
      <div class="box">
        <h1>2</h1>
        <h3 style="color: rgb(143, 14, 14)">KOSTENLOSES ANGEBOT ERHALTEN</h3>
        <p>
          Wir kalkulieren ein individuelles Angebot für Ihre Wünsche &
          Anforderungen!
        </p>
      </div>
      <div class="box">
        <h1>3</h1>
        <h3>ERWARTEN SIE IHR NEUES ZUHAUSE</h3>
        <p>Sie haben nichts mehr zu tun als Ihr neues Zuhause zu erwarten!</p>
      </div>
      <div class="box">
        <h1>4</h1>
        <h3>STRESSFREIER & EINFACHER EINZUG</h3>
        <p>Unser Personal sichert Ihnen einen stressfreien Einzug zu.</p>
      </div>
    </div>
  </div>

  <div class="wrapper-container">
    <h2>Unsere Kundenbewertungen</h2>
    <div class="box-container">
      <div class="box">
        <h3>Kunden aus Sandhausen</h3>
        <p style="font-style: italic;">Bewertet am 1. Jan 2025</p>
        <p class="stars">★★★★</p>
        <p>
          Umzug war gut, Leute waren pünktlich und haben schnell und sauber
          gearbeitet. Ein paar Türen und Korpen musste ich später noch
          einstellen, sonst wars ok. Bei der Rechnung gabs ein paar Probleme,
          konnten aber zu Zufriedenheit gelöst werden.
        </p>
      </div>
      <div class="box">
        <h3>Kunden aus Frankfurt am Main</h3>
        <p style="font-style: italic;">Bewertet am 17. Dez 2024</p>
        <p class="stars">★★★★★</p>
        <p>
          Es hat alles wie besprochen funktioniert. Die Herren waren pünktlich,
          haben unsere Büromöbel zügig aber vorsichtig vertragen bzw.
          transportiert und waren überaus freundlich. Sollten wir weitere Möbel
          für unser Büro zu transportieren haben, werden wir uns gerne wieder
          bei Firma Goojin melden.
        </p>
      </div>
      <div class="box">
        <h3>Herr Guido</h3>
        <p style="font-style: italic;">Bewertet am 26. Okt 2024</p>
        <p class="stars">★★★★★</p>
        <p>
          Pünktlich zum vereinbarten Termin waren die Leute von Goojin vor Ort
          und haben auch gleich angefangen. Alles wurde ordentlich verpackt und
          in den Transporter verladen. Das Ausräumen aus dem Transporter ging
          ebenfalls flott und reibungslos. Nach 1,5 Stunden war alles erledigt
          und die zwei sehr freundlichen Mitarbeiter konnten wieder los. Der
          Preis war unschlagbar. Wir sind sehr zufrieden und würden diese Firma
          auf jeden Fall weiter empfehlen.
        </p>
      </div>
      <div class="box">
        <h3>Herr Holger</h3>
        <p style="font-style: italic;">Bewertet am 25. Sep 2024</p>
        <p class="stars">★★★★★</p>
        <p>
          Ihr seid sooo liebe Menschen! Vielen Dank für alles. Es hat alles
          geklappt und ich kann dieses Unternehmen nur mit bestem Wissen und
          Gewissen weiterempfehlen! Alles Liebe und Gute für euch für euren
          weiteren Weg! 🍀 Viele liebe Grüße Holger
        </p>
      </div>
    </div>
    <button mat-raised-button class="mat-button">
      <a
        href="https://www.my-hammer.de/auftragnehmer/goojin-transport-und-umzugsservice/bewertungen?page=2"
        target="_blank"
        >Weitere Bewertungen</a
      >
    </button>
  </div>
</div>
