.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
}

.image-container {
    width: 100%;
    max-width: 1200px;
    margin-bottom: 30px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.wrapper-container {
    width: 100%;
    max-width: 1200px;
    margin-bottom: 50px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
}

.box {
    background-color: rgb(214, 214, 32);
    color: #333;
    text-align: center;
    font-size: 1.2em;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1em;
    color: #555;
    margin-bottom: 10px;
    text-align: justify;
}

.stars {
    color: rgb(27, 26, 24);
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
}

button.mat-button {
    background-color: rgb(143, 14, 14);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

button.mat-button a {
    color: white;
    text-decoration: none;
}

button.mat-button:hover {
    background-color: #561c07;
}

@media (max-width: 768px) {
    .box-container {
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.2em;
    }

    p {
        font-size: 0.9em;
    }
}