<div class="reference-container">
  <h1>Gewerbliche Referenzen</h1>
  <mat-list role="list">
    <mat-list-item role="listitem"> IN-LEASE Deutschland GmbH </mat-list-item>
    <mat-list-item role="listitem"> Pietät Eichhorn </mat-list-item>
    <mat-list-item role="listitem">Jobcenter Darmstadt</mat-list-item>
    <mat-list-item role="listitem">Durst-Immobilien </mat-list-item>
    <mat-list-item role="listitem"> I-R-Consulting GmbH </mat-list-item>
    <mat-list-item role="listitem">SavFra Hotelbesitz GmbH </mat-list-item>
    <mat-list-item role="listitem">HF opportunities GmbH</mat-list-item>
  </mat-list>
</div>
