<div>
  <div>
    <h2>Kontakt</h2>
    <mat-list>
      <mat-list-item style="height: fit-content">
        <p>
          <span class="material-icons"> home </span>Rheinstraße 40-42<br />
          64283 Darmstadt
        </p>
        <p><span class="material-icons"> call </span>+49 152 12121881</p>
        <p>
          <span class="material-icons"> email </span> goojin22&#64;gmail.com
        </p>
      </mat-list-item>
    </mat-list>
  </div>
  <div>
    <h3>Öffnungszeiten</h3>
    <mat-list>
      <mat-list-item style="height: fit-content">
        <p>Montag - Freitag: 8:00 - 18:00</p>
        <p>Samstag: 8:00 - 14:00</p>
        <p>Sonntag: Geschlossen</p>

        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2627.3878472435717!2d8.653762876918562!3d49.870176171678066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bd6bf897a42a7f%3A0x9fc6ad2c40ad9f0e!2sRheinstra%C3%9Fe%2040-42%2C%2064283%20Darmstadt%2C%20Germany!5e0!3m2!1sen!2sde!4v1701234567890!5m2!1sen!2sde"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        >
        </iframe>
      </mat-list-item>
    </mat-list>
  </div>
  <div>
    <h2>Kontaktformular</h2>
    <form>

    </form>
  </div>
</div>
