/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
html, body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}